html {
    width: 1020px;
    margin: auto;
    font-family: Calibri, sans-serif;
    font-size: 20px;
}
.photo {
    vertical-align: middle;
    max-width: 250px;
    max-height: 250px;
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 5px solid #535353;
  }
button {
    border-radius: 4px;
    font-size: 20px;
    border: none;
    background-color: rgb(219, 219, 219);
}
.no-click {
        pointer-events: none;
    }